<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Products</h4>
  </div>
  <div class="modal-body">
    <p>
      <div class="btn-group">
        <%= link_to 'Add Product', new_product_path, class: 'btn btn-success'%>
        <%= link_to 'Order Info', orders_path, class: 'btn btn-info'%>
        <%= link_to 'Logout', logout_path, class: 'btn btn-danger'%>
      </div>
    </p>
    <table id="products" class="display" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Seller</th>
        <th>Short Description</th>
        <th>Full Description</th>
        <th>Date Added</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %>円</td>
            <td><%= product.user_name %></td>
            <td><%= truncate(product.short_description, :length => 75) %></td>
            <td><%= truncate(product.full_description, :length => 150) %></td>
            <td><%= product.created_at %></td>
            <td>
              <div class="btn-group">
                <%= link_to 'Show', product_path(product), class: 'btn btn-primary' %>
                <%= link_to 'Buy', {:controller => 'products', :action => "buy", :product_id => product.id }, remote: true, method: :post, class: 'btn btn-primary' %>
                <% if product.user_id == @current_user.id %>
                  <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-success' %>
                  <%= link_to 'Delete', product_path(product), method: :delete, class: 'btn btn-danger' %>
                <% end %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>